*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.hero__section{
    background: url(./images/heroSectionBackground.png);
    background-size: cover;
    background-position: center;
    color: white;
    min-height: 60vh;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    padding: 16px 48px;
}

.navbar a{
    color: white;
    text-decoration: none;
}

.navbar__menu_container{
    display: flex;
    gap: 18px;
}

.navbar__menu_container .user_icon{
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: solid 1px white;
    display: none;
}

.hero__section_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 320px;
}

.hero__section_logo{
    width: 200px;
    height: auto;
}

.hero__section_title{
    text-align: center;
    font-size: 30px;
    font-weight: 350;
}

.hero__section_input_container{
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 50%;
    border-radius: 10px;
}

.input_container_location,
.input_container_search{
    padding: 5px;
    border: none;
    outline: none;
}

.input_container_location{
    width: 35%;
    border-right: 2px solid #e0e0e0;
}

.input_container_search{
    width: 65%;
}

.location__icon,
.search_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
}



/* styling for section 2(card section i.e., container__we_offfer)*/

.container__we_offer{
    width: 90%;
    /*margin: 3rem auto;*/
    margin: 50px 70px;
   
}

.we__offer{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}


.we__offer_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    width: 350px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.we__offer_card:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.we__offer_card img{
    width: 100%;
    height: 170px;
    object-fit: cover;
    
}

.we__offer_content{
    margin: 10px 0 ;
    color: rgb(36, 34, 34);
}

.we__offer_content h2{
    font-size: 22px;
    font-weight: 400;
}

.we__offer_content p{
    font-size: 16px;
    font-weight: 300;
}

/*Styles for collection container*/

.container__collection_content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 50px 70px 0 70px;
    padding: 30px 30px 0 60px;

}

.container__collection_text{
    width: 75%;
}

.container__collection_text h1{
    font-size: 34px;
    font-weight: 450;
}

.container__collection_text p{
    font-size: 18px;
    font-weight: 200;
}

.container__collection_link{
    width: 25%;
}

.container__collection_link a{
    font-size: 18px;
    font-weight: 250;
    color: #e03546;
    margin-top: 40px;
    text-decoration: none;
}


.container__collection_link:hover{
    cursor: pointer;
}

.container__collection_examples{
    width: 90%;
    margin: 30px 70px;
}

.collection__examples{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0 50px;
}

.collection__card{
    display: flex;
    flex-direction: column;
    justify-content: end;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    width: 260px;
    height: 300px;
}

.collection__card a{
    text-decoration: none;
    color: white;
}

.collection__card:hover{
    cursor: pointer;
}

.collection__card h1{
    font-size: 18px;
    font-weight: 300;
    padding-left: 10px;
}

.collection__card p{
    font-size: 14px;
    font-weight: 300;
    padding-left: 10px;
    padding-bottom: 10px;
}

/*.collection__card .arrow_icon{
    height: 25px;
    width: 25px;
    display: inline;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: solid 1px white;
}*/


#collection__card1{
    background: url(./images/collection1.jpg);
    background-size: cover;
    background-position: center;
}

#collection__card2{
    background: url(./images/collection2.jpg);
    background-size: cover;
    background-position: center;
}

#collection__card3{
    background: url(./images/collection3.jpg);
    background-size: cover;
    background-position: center;
}

/*styles for container popular localities*/

.popularlocalities_text{
    display: flex;
    margin: 90px 110px 0px 110px;
    width: 90%;
}
.popularlocalities_text h1{
    font-size: 36px;
    font-weight: 400;
    color: #363636;
}

.popularlocalities_options{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin: 40px 110px 90px 110px;
}

.popularlocalities__options_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: transparent;
    border: 1px solid rgb(232, 232, 232);
    border-radius: 10px;
    padding: 12px 15px;
    transition: all 0.15s;
}

.options_box{
    display: flex;
    flex-direction: row;
    width: 90%;
}

.popularlocalities__options_box_text{
    width: 90%;
    margin-right: 170px;
}

.popularlocalities__options_box_arrowicon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    margin-right: 0;

}

.popularlocalities__options_box:hover{
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.popularlocalities__options_box h2{
    font-weight: 400;
    font-size: 18px;
    color: #363636;
}

#popularlocalities__options_box_seemore{
    display: flex;
    align-items: center;
    justify-content: center;
}

.popularlocalities__options_box p{
    font-weight: 200;
    color: #363636;
}

/*Style for 5th section i.e., Get the App*/

.container__gettheapp{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 480px;
    background-color: rgb(255, 251, 247);
}

.gettheapp_box{
    display: flex;
    flex-direction: row;
    margin: 50px 70px;
    width: 740px;
    height: 450px;
    gap: 10px;
}

.gettheapp_img{
    width: 30%;
    padding-top: 50px;
}

.gettheapp_img img{
    object-fit: cover;
    height: 200px;
    width: autopx;
    padding: 0 20px;
}

.gettheapp_text{
    width: 70%;
}

.gettheapp_text h1{
    color: #1c1c1c;
    font-size: 50px;
    font-weight: 400;
    padding-bottom: 10px;
}

.gettheapp_text p{
    color: #363636;
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 22px;
    line-height: 30px;
}

.radio{
    color: #1c1c1c;
    font-weight: 300;
    padding-left: 4px;
    font-size: 16px;
    padding-bottom: 10px;
}

.gettheapp_input_container{
    margin: 15px 0;
    gap: 30px;
}

.gettheapp_input_container input{
    background: transparent;
    border: 1px solid rgb(232, 232, 232);
    border-radius: 10px;
    padding: 8px 10px;
    font-size: 18px;
    font-weight: 200;
}

.gettheapp_input_container button{
    border-radius: 10px;
    padding: 10px 16px;
    font-size: 16px;
    border: 1px solid rgb(232, 232, 232);
    background-color: #ef4f5f;
    color: #ffffff;
    font-weight: 200;
    opacity: 1;
    transition: all 0.15s;
}

.gettheapp_input_container button:hover{
    background-color: #a11422;
}

.download_options_images img:hover,
.gettheapp_input_container button:hover,
.radio:hover{
    cursor: pointer;
}

.gettheapp_text .download_options{
    color: #9c9c9c;
    font-size: 14px;
}

.download_options_images{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.download_options_images img{
    height: 40px;
    width: 137px;
    opacity: 1;
}


/*Screen size is from 0to 600 i.e., smaller screen size*/
@media only screen and (max-width: 600px){
    .navbar__menu_container .user_icon{
        display: flex;
    }

    .link{
        display: none;
    }

    .hero__section{
        height: 80vh;
    }

    .hero__section_container{
        flex-direction: column;
        background-color: transparent;
        width: 100%;
    }

    .hero__section_title{
        font-size: 18px;
        width: 95%;
    }

    .input_container_location,
    .input_container_search{
        padding: 18px;
        border-radius: 10px;
        width: 98%;
    }

    .hero__section_container{
        height: calc(80vh - 40px);
    }
}

